@media (min-width: 576px) {
    .input-container {
        text-align: center;
    }

    .numberInput {
        width: 30px !important;
        background-color: rgba(224, 224, 224, 0.1) !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        letter-spacing: 3px !important;
        text-align: center !important;
        padding: 5px 10px !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .textInput {
        width: 48% !important;
        background-color: rgba(224, 224, 224, 0.1) !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        padding: 5px 7px !important;
        letter-spacing: 2px !important;
        font-weight: 500 !important;
        margin-right: 0 !important;
    }

    label {
        display: inline-block !important;
        width: auto !important;
        font-weight: 600 !important;
        font-size: 15px !important;
        letter-spacing: 2px !important;
        position: relative !important;
        margin-left: 10px !important;
        margin-bottom: 0 !important;
    }

    .numberError {
        margin: 0 !important;
    }
}

@media (min-width: 768px) {
    label {
        display: inline !important;
    }

    .textInput {
        width: 30% !important;
    }
}
